<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Notificación</title>
    <link rel="stylesheet" type="text/css" href="/public/formularios.css">
</head>
<body>

<header>
    <h1>Editar Notificación</h1>
    <h2><a href="/notificaciones">Volver a la lista de notificaciones</a></h2>
</header>

<main>
    <section>
        <form id="forma-notificaciones" class="forma-comun">
            <input type="hidden" id="notificacion-id">

            <label for="notificacion-mensaje">Mensaje:</label>
            <input type="text" id="notificacion-mensaje" required>

            <label for="notificacion-estado">Estado:</label>
            <input type="text" id="notificacion-estado" required>

            <button type="submit">Guardar</button>
        </form>
    </section>
</main>
</body>
</html>