<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <ul>
        <li>
            <a href="recursos.ejs">Gestion de recursos</a>
            <a href="notificaciones.ejs">Gestion de notificaciones</a>
            <a href="usuarios.ejs">Gestion de usuarios</a>
            <a href="reservas.ejs">Gestion de reservas</a>
        </li>
    </ul>
</body>
</html>